@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
@import 'antd/dist/antd.css';

h1, h2, h3, h4, h5, h6 {
  margin: 0 0 5px 0 !important;
}

body {
  margin: 0;
  border: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  color: var(--text-color);
}

.site-page-header {
  padding: 0 0 30px 0;
}

.site-page-header .ant-page-header-heading-title {
  font-size: 28px;
}
