.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 12rem;
  border-bottom: 1px solid #1890ff;
  box-shadow: 0px 2px 10px 5px rgba(0, 8, 20, 0.05);
}

.header-container > .brand {
  display: flex;
}

.header-container > .brand > h1 {
  font-weight: bold;
}

.header-container > .brand > h1:last-child {
  color: #1890ff;
}

.header-menu .ant-btn,
.header-container .ant-menu-horizontal,
.header-container .navigation-button {
  border: none;
}

.header-container .header-menu .ant-btn {
  padding: 0 5px;
}
